{%  include 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% verbatim %}
        <div id="app">
            Your lucky message is: {{ message }}
        </div>
        {% endverbatim %}
    </div>
{%  endblock %}

{% block javascripts %}
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                const message = ref('Hello vue!')
                return {
                    message
                }
            }
        }).mount('#app')
    </script>
{% endblock %}
