{%  include 'base.html.twig' %}

{% block body %}
    <div class="container" id="wrestlers" data-wrestlers="{{ wrestlers }}">
        <div class="h-100 p-5 m-3 text-bg-dark rounded-3">
            <h2>Makuuchi head-to-heads</h2>
            <p class="lead">Select a wrestler to see how well he does against others in the same division
                <a class="header-link" href="https://sumo-api.com" target="_blank">Data from Sumo API</a>
            </p>
        </div>
        {% verbatim %}
        <div id="app">
            <div class="row">
                <div class="col mb-3 mb-sm-0">
                    <selected-wrestler :selected="selected"></selected-wrestler>
                </div>
                <div v-show="loading" class="spinner-border m-3" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <div class="row m-3">
                <head2head v-for="head2head in wrestlers.head2heads"
                    @selected="onHead2HeadSelected"
                    :head2head="head2head"
                    :selected-wrestler="selected"
                    ></head2head>
            </div>
        </div>
        {% endverbatim %}
        <div class="my-3 text-body-secondary"><a href="https://github.com/stuartmcgill/sumo-head2head">GitHub repository</a></div>
    </div>
{%  endblock %}

{% block javascripts %}
    <script type="module">
        import { createApp } from 'vue'
        import selectedWrestler from "{{ asset('../assets/js/components/selected-wrestler.js') }}"
        import head2head from "{{ asset('../assets/js/components/head2head.js') }}"
        import Head2HeadCollection from "{{ asset('../assets/js/head2head-collection.js') }}"

        const app = createApp({
            data() {
                return {
                    wrestlers: [],
                    selected: '',
                    loading: false
                }
            },
            mounted() {
                this.wrestlers = new Head2HeadCollection(
                    JSON.parse(document.getElementById('wrestlers').dataset.wrestlers)
                );
            },
            methods: {
                async onHead2HeadSelected(id) {
                    this.loading = true

                    try {
                        const response = await fetch('/head2head/' + id)
                        const json = await response.json()

                        this.wrestlers.refreshHead2HeadData(JSON.parse(json))
                        this.wrestlers.sort()
                        this.selected = this.wrestlers.find(id)
                    } finally {
                        this.loading = false
                    }
                }
            }
        })
        app.component('selectedWrestler', selectedWrestler)
        app.component('head2head', head2head)
        app.mount('#app')
    </script>
{% endblock %}
