{%  include 'base.html.twig' %}

{% block body %}
    <div class="container" id="wrestlers" data-wrestlers="{{ wrestlers }}">
        <div class="h-100 p-5 m-3 text-bg-dark rounded-3">
            <h2>Makuuchi head-to-heads</h2>
            <p class="lead">Select a wrestler to see how well they do against others in the division
                <a class="header-link" href="https://sumo-api.com">Sumo API</a>
            </p>
        </div>
        {% verbatim %}
        <div id="app">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <selected-wrestler :selected="selected"></selected-wrestler>
                </div>
            </div>
            <div class="row">
                <head2head v-for="wrestler in wrestlers"
                    @selected="onHead2HeadSelected"
                    :head2head="wrestler"
                    :selected-wrestler="selected"
                    ></head2head>
            </div>
        </div>
        {% endverbatim %}
    </div>
{%  endblock %}

{% block javascripts %}
    <script type="module">
        import { createApp } from 'vue'
        import selectedWrestler from "{{ asset('../assets/js/components/selected-wrestler.js') }}"
        import head2head from "{{ asset('../assets/js/components/head2head.js') }}"

        const app = createApp({
            data() {
                return {
                    wrestlers: [],
                    selected: ''
                }
            },
            mounted() {
                this.wrestlers = JSON.parse(document.getElementById('wrestlers').dataset.wrestlers);
            },
            methods: {
                async onHead2HeadSelected(id) {
                    // Set wins and losses on wrestlers according to ids returned from API
                    const response = await fetch('/head2head/' + id)
                    const json = await response.json()
                    const head2heads = JSON.parse(json)

                    this.wrestlers.forEach((wrestler, index) => {
                        const relevantMatchup = head2heads.matchups.filter(
                            (matchup) => matchup.opponentId === wrestler.id
                        )[0]

                        this.wrestlers[index].wins = relevantMatchup.rikishiWins
                        this.wrestlers[index].losses = relevantMatchup.opponentWins
                        this.wrestlers[index].winningPercentage = relevantMatchup.winningPercentage
                    });

                    // Sort array according to wins and losses
                    function compareHead2Heads(a, b) {
                        if (a.winningPercentage < b.winningPercentage) {
                            return 1
                        }
                        if (a.winningPercentage > b.winningPercentage) {
                            return -1
                        }

                        if (a.winningPercentage !== b.winningPercentage) {
                            return a.winningPercentage === null ? 1 : -1
                        }

                        return a.shikonaEn > b.shikonaEn ? 1 : -1
                    }

                    this.wrestlers.sort(compareHead2Heads)

                    // Update the selected wrestler
                    this.selected = this.wrestlers.filter((wrestler) => wrestler.id === id)[0]
                }
            }
        })
        app.component('selectedWrestler', selectedWrestler)
        app.component('head2head', head2head)
        app.mount('#app')
    </script>
{% endblock %}
