{%  include 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% verbatim %}
        <div id="app">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                      <div class="row card-body">
                          <div class="col-sm-6">
                            <h1 class="card-title">{{ selectedRikishi.shikonaEn }}</h1>
                            <p class="card-text">{{ selectedRikishi.stable }}</p>
                            <a href="#" class="btn btn-primary">Full record</a>
                          </div>
                          <img
                            src="http://sumodb.sumogames.de/pics/11728.jpg"
                            class="col-sm-6"
                            alt="..."
                          >
                    </div>
                </div>
              </div>
        </div>
        {% endverbatim %}
    </div>
{%  endblock %}

{% block javascripts %}
    <script type="module">
        import { createApp } from 'vue'

        createApp({
            data() {
                const selectedRikishi = {
                    shikonaEn: "Takarafuji",
                    stable: "Isegahama",
                    sumoDbId: 11728
                }
                return {
                    selectedRikishi
                }
            },
            computed: {
                imageLink() {
                    return "http://sumodb.sumogames.de/pics/$(this.selectedRikishi.sumoDbId).jpg"
                }
            }
        }).mount('#app')
    </script>
{% endblock %}
