{%  include 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% verbatim %}
        <div id="app">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <wrestler></wrestler>
                </div>
            </div>
            <div class="row">
                <head2head v-for="wrestler in wrestlers"
                    :shikona-en="wrestler.shikonaEn"
                    :sumo-db-id="wrestler.sumoDbId"
                    :stable="wrestler.stable"
                    :current-rank="wrestler.currentRank"
                    :wins="wrestler.wins"
                    :losses="wrestler.losses"></head2head>
            </div>
        </div>
        {% endverbatim %}
    </div>
{%  endblock %}

{% block javascripts %}
    <script type="module">
        import { createApp } from 'vue'
        import wrestler from "{{ asset('../assets/wrestler.js') }}"
        import head2head from "{{ asset('../assets/head2head.js') }}"

        const app = createApp({
            data() {
                return {
                    wrestlers: [
                        {
                            shikonaEn: 'Daieisho',
                            sumoDbId: 12345,
                            stable: 'Oitekaze',
                            currentRank: 'Sekiwake',
                            wins: 13,
                            losses: 8,
                        },
                        {
                            shikonaEn: 'Terunofuji',
                            sumoDbId: 12345,
                            stable: 'Oitekaze',
                            currentRank: 'Sekiwake',
                            wins: 0,
                            losses: 0,
                        }
                    ]
                }
            },
        })
        app.component('wrestler', wrestler)
        app.component('head2head', head2head)
        app.mount('#app')
    </script>
{% endblock %}
